* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #FAF0CA;
}

blockquote {
    text-align: center;
    font-size: 200%;
    padding: 20px;
}

nav {
    display: inline-block;
    background-color: #F4D35E;
}

nav ul li a {
    text-decoration: none;
    color: #0D3B66;
    text-align: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #0D3B66;
    text-align: center;
}

h2 {
    text-align: center;
    color: #0D3B66;
}

p {
    text-align: center;
    padding: 0 25px;
}